<html lang="zh-CN">
    <head>
        <title>宇宙无敌大砍刀</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta title="大砍刀">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha256-T/zFmO5s/0aSwc6ics2KLxlfbewyRz6UNw1s3Ppf5gE=" crossorigin="anonymous">
    </head>

    <body>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-8 mx-auto justify-content-center container">
                    <h4 class="row text-danger">活动规则:</h4>
                    <div class=row>
                        <p>1. 用户在本活动中可以通过邀请好友助力的方式获得 flag 提现机会。收集满 1 个 flag ，即可提取 1 个 flag。</p>
                        <p>2. 用户在页面规定的时间内累计获得的 flag 达到一定的门槛才可提取。如未达到门槛，所积累的 flag 会失效的呦。</p>
                        <p>3. 当用户累计的 flag 达到目标之后，可以保留提取 flag 机会 24 小时（保留时间从参与活动开始算起）。逾期未提取，flag 将会失效。</p>
                        <p>4. 每个用户只能够助力一次。为了建设世界一流大砍刀平台，<span style="color: red;">活动要求位于同一 /8 网段的用户将会被视为同一个用户。</span>（比如 IP 地址为 202.38.64.1 和 202.39.64.1 将被视为同一用户。）达到助力次数上线后，将无法再帮助好友助力。我们使用<strong>前后端方式</strong>检查用户的 IP 。</p>
                        <p>5. 如果用户以任何不正当手段或者舞弊方式参与本活动，一经发现，平台有权对该账户进行异常标记，并采取撤销 flag 等操作。不正当手段包括但不限于：使用非法工具分享、下载、安装、注册、登录、多个账户及其他不正当手段。</p>
                        <p>6. 如果用户存在违规行为（包括但不限于非法交易 flag 、恶意套现 flag 、以 flag 为筹码进行赌博、恶意撕毁 flag 等），平台将取消用户的活动资格，并撤销取得的相关利益，同时将依据相关规定进行处理。</p>
                        <p>7. 如果因为不可抗力或情形变化（包括但不限于重大自然灾害、活动遭受严重网络攻击或系统故障），导致本活动无法正常举办，平台可以决定暂停或终止本活动，并可依据相关规定主张免责。</p>
                        <p>8. 本活动一切解释权、裁定权、狗头权归大砍刀平台所有。</p>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha256-7dA7lq5P94hkBsWdff7qobYkp9ope/L5LQy2t/ljPLo=" crossorigin="anonymous"></script>
    </body>
</html>
